@font-face {
        font-family: "carta";
        src: url(../fonts/eras-bold-itc.ttf);
}

@font-face {
        font-family: "carta2";
        src: url(../fonts/erasef-medium.otf);
}

.bg-carta{
    
        background-image: url(../Logos/carta.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
        width: 100%;
        
        
    
}

.fw-rapa{
       font-family: "carta";
}

.f-rapa{
        font-family: "carta2";
 }

.bg-wtsp{
    
        background-image: url(../Logos/wtsp.jpg);
        
        background-attachment: fixed;
        
       
        
        width: 100%;
        
        
    
}

.t-credito{
        font-size: 25px;
}

@media (max-width: 500px) 
{ 
  .t-credito{
          font-size: 20px;
  }
        
}
    
    @media (max-width: 400px) 
{ 
    
        .t-credito{
                font-size: 15px;
        }
      
}
