@font-face {
        font-family: "carta";
        src: url(../fonts/eras-bold-itc.ttf);
}

.bg-carta{
    
        background-image: url(../Logos/carta.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        
        width: 100%;
        
        
    
}

.f-rapa{
       font-family: "carta";
}

.bg-wtsp{
    
        background-image: url(../Logos/wtsp.jpg);
        
        background-attachment: fixed;
        
       
        
        width: 100%;
        
        
    
}
