.image-0{
    background-image: url(../Imagenes/Galeria/0.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-1{
    background-image: url(../Imagenes/Galeria/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-2{
    background-image: url(../Imagenes/Galeria/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-3{
    background-image: url(../Imagenes/Galeria/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-4{
    background-image: url(../Imagenes/Galeria/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-5{
    background-image: url(../Imagenes/Galeria/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-6{
    background-image: url(../Imagenes/Galeria/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}

.image-7{
    background-image: url(../Imagenes/Galeria/7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50em;
    width: 100%;
    
}



.redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 50px;
    text-align: center;
}

:root{
    --facebook: #3b5999;
    --whatsapp: #288337;
    --instagram: #e4405f;
    --twitter: #55acee;
}

.redes{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

.redes ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 70px;
    font-size: 45px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
    transition: .2s;
    border-radius: 20%;
}

.redes ul:hover a{
    filter: blur(2px);
}

.redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes ul li .facebook:hover{
    background: var(--facebook);
}

.redes ul li .instagram:hover{
    background: var(--instagram);
}

.redes ul li .whatsapp:hover{
    background: var(--whatsapp);
}

.redes ul li .twitter:hover{
    background: var(--twitter);
}


.image-map{
    background-image: url(../Logos/fondomapa.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    
    
}

.image-red{
    background-image: url(../Logos/fondoredes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 22em;
    width: 100%;
    background-attachment: fixed;
}

.text-gray-700{
    color: rgb(88, 88, 88);
    font-size: 15px;
    width: 100%;
    
    
}

.cuadro{
    appearance: none;
    background-color: rgba(221, 246, 255, 0.719);
}





.bg-green-500{
    background-color: rgba(1, 190, 1, 0.733);
}

@media (max-width: 500px) { 
    
    .image-0{
        background-image: url(../Imagenes/Galeria/8.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50em;
        width: 100%;
        
    }
    

    .img-red{
        width: 50px;
    }

    .redes ul li a{
        display: block;
        padding: 0 10px;
        background: #333;
        color: #fff;
        line-height: 60px;
        font-size: 40px;
        box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
        transition: .2s;
        border-radius: 20%;
    }
   
}

@media (max-width: 375px) { 
    

    .img-red{
        width: 50px;
    }

    .redes{
    display: flex;
    
    align-items: center;
    justify-content: center;
}

    
    .redes ul li a{
        display: block;
        padding: 0 10px;
        background: #333;
        color: #fff;
        line-height: 40px;
        font-size: 30px;
        box-shadow: 0 3px 5px 0px rgba(0,0,0,.2);
        transition: .2s;
        border-radius: 20%;
    }
    

    


   
}

@media (max-width: 500px) { 
    .prim{
font-size: 12px;
   }
   .jh{
       width: 65px;
   }
}

@media (max-width: 400px) { 
   .prim{
font-size: 10px;
   }
    .jh{
   width: 60px;
    }
  }
