
$primary:#363636;
$danger:#747474;






@media (max-width: 500px) { 
     .prim{
font-size: 12px;
    }
    .jh{
        width: 45px;
    }
}

@media (max-width: 400px) { 
    .prim{
font-size: 10px;
.jh{
    width: 45px;
}
   }
}

@import "../node_modules/bootstrap/scss/bootstrap";